@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Previene el scroll en el body */
    overscroll-behavior-y: none; /* Desactiva el efecto rebote en iOS */
    -webkit-tap-highlight-color: transparent;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}